.section-3{
    background: color(black);
    padding: 40px 0;

    .container {
        width: 75%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        grid-gap: 10px;
        
        @include responsive(mobile){
            width: 90%;
        }
    
        @include responsive(mobile-lg){
            grid-template-columns: repeat(2, 1fr);
        } 
    }

    .stat-card {
        background: color(white);
        padding: 5px 20px;
        height:fit-content;

        span, p{
            text-align: center;
            width: 100%;
        }

        span{
            display: block;
            font-family: font(secondary);
        }

        p{
            @include paragraphs;
            text-transform: uppercase;
            font-size: 0.5em;
        }
    }
}